Source: hello
Section: base
Priority: optional
Maintainer: YuTai(Billour) Ou <billourcode@gmail.com>

Package: hello
XSBC-Original-Maintainer: Billour <billourcode@gmail.com>
Architecture: any
Homepage: https://github.com/Billour/hello
Description: Tack Home Test from Billour Canonical.
